<h1>Is it Friday yet?</h1>

<% if @today_is_friday %>
  <h2>YES :D</h2>
<% else %>
  <h2>NO! It's <%= @day.name %>.</h2>
<% end %>
<p><%= @day.message %></p>

<% if @today_is_wednesday %>
  <div><iframe width="420" height="315" src="//www.youtube.com/embed/6Fa7dI2TyDc?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe></div>
<% elsif @today_is_friday %>
  <% 6.times do %>
    <img class='omid' src="https://dsefbl7lavc0l.cloudfront.net/emoji/c30a244caf211727fffb70123096651a0cf189a77498e90898000d1297df6c2d"/>
  <% end %>
  <div><iframe width="420" height="315" src="//www.youtube.com/embed/kfVsfOSbJY0?rel=0&autoplay=1&loop=1" frameborder="0" allowfullscreen></iframe></div>
  <% 6.times do %>
    <img class='omid' src="https://dsefbl7lavc0l.cloudfront.net/emoji/c30a244caf211727fffb70123096651a0cf189a77498e90898000d1297df6c2d"/>
  <% end %>
<% end %>

<p class="tiny">Results may be incorrect if you are not located in the Eastern time zone.</p>
